.tracking-status {
  display: flex;
  align-items: center;
}

.estado {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--gris-oscuro);
  transform: scale(1);
  width: 150px;
  box-shadow: 1px 1px 5px var(--gris-oscuro);
  padding: 5px;
  border-radius: 4px;
  background-color: var(--gris-claro);
  font-family: Rubik, sans-serif;
}

.estado.activo {
  animation: colorAndScaleTransition 1s forwards;
}

@keyframes colorAndScaleTransition {
  0% {
    color: var(--gris-oscuro);
    transform: scale(1);
    background-color: var(--gris-claro);
  }
  100% {
    color: #2ab7b6;
    transform: scale(1.2);
    background-color: var(--color-primario);
  }
}

.linea {
  height: 4px;
  width: 50px;
  background-color: var(--gris-oscuro);
}

.linea.activo {
  animation: fillLine 1.5s forwards;
}

@keyframes fillLine {
  0% {
    background-color: var(--gris-oscuro);
  }
  100% {
    background-color: #2ab7b6;
  }
}

@media screen and (max-width: 777px) {
  .tracking-status {
    gap: 15px;
  }

  .tracking-status .estado {
    display: flex;
    width: 100px;
  }

  .tracking-status .linea {
    width: 20px;
  }

  main.RastrearGuia .Resultado .UltimoSeguimiento {
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  .tracking-status {
    /* flex-direction: column; */
    gap: 15px;
  }

  .tracking-status .estado {
    width: 65px;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    font-size: 12px;
  }

  .linea {
    display: none;
    width: 0px;
    height: 10px;
  }
}
