main .BoxLasTraking {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  overflow: hidden;
  z-index: -1;
}

main .BoxLasTraking .ImgLasTraking {
  width: 100%;
  max-width: 600px;
}



main .BoxLasTraking .BoxInfoTraking h1,
main .BoxLasTraking .BoxInfoTraking p {
  text-align: left;
  color: white;
}

main .BoxLasTraking .BoxInfoTraking {
  width: 35%;
  max-width: 700px;
  padding: 20px;
}

main .BoxLasTraking .video {
  width: 65%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}

main .BoxLasTraking .BoxInfoTraking .Button {
  max-width: 300px;
}

@media (max-width: 1000px) {
  main .BoxLasTraking {
    flex-direction: column;
  }

  .BoxAccion{
    justify-content: center;
  }

  main .BoxLasTraking .BoxInfoTraking h1,
  main .BoxLasTraking .BoxInfoTraking p {
    text-align: center;
  }

  main .BoxLasTraking .video {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  main .BoxLasTraking .BoxInfoTraking {
    width: 100%;
    max-width: 600px;
  }

  main .BoxLasTraking .BoxInfoTraking .Button {
    margin: auto;
  }
}