main.RastrearGuia {
  background-color: #f1f1f2;
  padding: 25px;
  overflow: hidden;
}

main.RastrearGuia .BoxSearch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: auto;
  flex-direction: column;
  border-radius: 4px;
  background-image: url("/public/images/RastrearGuia/rastrear.png");
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  padding: 20px;
  box-shadow: 1px 1px 10px var(--gris-oscuro);
  filter: opacity(0.9);
}

main.RastrearGuia .BoxSearch.ResultadoActivo {
  min-height: 200px;
  transition: 1s;
}

main.RastrearGuia .BoxSearch .Search {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main.RastrearGuia .BoxSearch button {
  background-color: var(--color-primario);
  color: white;
}

main.RastrearGuia .BoxSearch input,
main.RastrearGuia .BoxSearch button {
  border-radius: 4px;
  border: none;
  box-shadow: 1px 1px 15px var(--gris-oscuro);
  padding: 15px 10px;
  outline: none;
  margin-top: 10px;
  width: 100%;

  font-family: Rubik, sans-serif;
  font-size: 18px;
}

main.RastrearGuia .Resultado {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  border-radius: 4px;
}

main.RastrearGuia .Resultado .Iconos {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}

main.RastrearGuia .Resultado .UltimoSeguimiento {
  display: flex;
  border-radius: 4px;
  width: 100%;
  justify-content: center;
  margin: 10px 0px;
}

main.RastrearGuia .Resultado .Informacion {
  margin-top: 50px;
}

main.RastrearGuia .Resultado .UltimoSeguimiento div {
  padding: 10px 25px;
  border-radius: 7px;
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0px 2px;
}

main.RastrearGuia .Resultado .UltimoSeguimiento div > h2,
main.RastrearGuia .Resultado .UltimoSeguimiento div > span {
  color: var(--color-primario);
  font-family: Rubik, sans-serif;
  text-align: center;
}

main.RastrearGuia .Resultado .UltimoSeguimiento .Imagenes div {
  display: flex;
  flex-direction: row;
}

main.RastrearGuia .Resultado .UltimoSeguimiento .Imagenes div img {
  width: 50px;
  margin: 0px 5px;
  border-radius: 4px;
}

main.RastrearGuia .Resultado .UltimoSeguimiento .Adjuntos a .PDF {
  margin-top: 20px;
  color: var(--rojo-claro);
  font-size: 30px;
  cursor: pointer;
}

@media screen and (max-width: 777px) {
  main.RastrearGuia .Resultado .UltimoSeguimiento {
    background-color: white;
  }

  main.RastrearGuia .Resultado .UltimoSeguimiento div {
    background-color: transparent;
  }
}
