main.RastrearGuia {
  background-color: #f1f1f2;
  padding: 25px;
  padding-bottom: 100px;
}

main.RastrearGuia .BoxSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding: 25px;
  flex-direction: column;
  padding: 20px;
  border-radius: 4px;
}

main.RastrearGuia .BoxSearch .Img {
  width: 100%;
  display: flex;
  justify-content: center;
}

main.RastrearGuia .BoxSearch .Img img {
  width: 100%;
  border-radius: 4px;
  box-shadow: 1px 1px 15px var(--gris-oscuro);
  max-height: 400px;
}

main.RastrearGuia .BoxSearch .Search {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main.RastrearGuia .BoxSearch button {
  background-color: var(--color-primario);
  color: white;
}

main.RastrearGuia .BoxSearch input,
main.RastrearGuia .BoxSearch button {
  border-radius: 4px;
  border: none;
  box-shadow: 1px 1px 15px var(--gris-oscuro);
  padding: 15px 10px ;
  outline: none;
  margin-top: 10px;
  width: 100%;

  font-family: Rubik, sans-serif;
  font-size: 18px;
}

main.RastrearGuia .Resultado {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 4px;
}

main.RastrearGuia .Resultado .Iconos{
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}



main.RastrearGuia .Resultado .UltimoSeguimiento {
  display: flex;
  border-radius: 4px;
  width: 100%;
  justify-content: center;
}

main.RastrearGuia .Resultado  .Informacion{
  margin-top:50px;
}

main.RastrearGuia .Resultado .UltimoSeguimiento div {
  padding: 10px 25px ;
  border-radius: 7px;
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0px 2px;
}

main.RastrearGuia .Resultado .UltimoSeguimiento div > h2,
main.RastrearGuia .Resultado .UltimoSeguimiento div > span {
  color: var(--color-primario);
  font-family: Rubik, sans-serif;
  text-align: center;
}

main.RastrearGuia .Resultado .UltimoSeguimiento .Imagenes div{
  display: flex;
  flex-direction: row;
}

main.RastrearGuia .Resultado .UltimoSeguimiento .Imagenes div img {
  width: 50px;
  margin: 0px 5px;
  border-radius: 4px;
}

main.RastrearGuia .Resultado .UltimoSeguimiento .Adjuntos a .PDF{
  margin-top: 20px;
  color: var(--rojo-claro);
  font-size: 30px;
  cursor: pointer;
}
