main.Servicios {
  background-color: var(--azul-celeste-claro);
  overflow: hidden;
}

.Progress {
  width: 100%;
  height: 7px;
  background-color: var(--color-primario);
  position: fixed;
  bottom: 0;
  box-shadow: 1px 1px 5px var(--color-primario);
}

main.Servicios .BoxEncabezado {
  width: 100%;
  max-width: 1330px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 25px;
}

main.Servicios .BoxEncabezado .BoxIntro {
  width: 40%;
  position: relative;
}

main.Servicios .BoxEncabezado .BoxIntro > h1,
main.Servicios .BoxEncabezado .BoxIntro > p {
  text-align: left;
  z-index: 2;
  position: relative;
}

main.Servicios .BoxEncabezado .BoxIntro > p {
  font-size: 20px;
}

main.Servicios .BoxEncabezado .BoxVideo {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-image: url("/public/images/Servicios/blob.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -80px;
}

main.Servicios .BoxEncabezado .BoxVideo img {
  width: 100%;
  max-width: 600px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px var(--gris-oscuro);
}

main.Servicios .BoxServicios {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 25px;
  flex-direction: column;
}

.BoxServicios .Servicio {
  width: 100%;
  display: flex;
  align-items: center;
}

.BoxServicios .Revert {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.BoxServicios .Servicio .Imagen {
  width: 45%;
  height: 600px;
  border-radius: 4px;
  box-shadow: 1px 1px 10px var(--gris-oscuro);
  background-image: url("/public/images/Conocenos/Banne-conocenos.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.BoxServicios .Servicio .Contenido {
  width: 50%;
  padding-right: 25px;
  transition: 2s;
  position: relative;
}

.BoxServicios .Servicio .ContPaddingLeft {
  padding-left: 50px;
}

.BoxServicios .Servicio .Contenido h2 {
  text-align: left;
  z-index: 1;
  position: relative;
}

.BoxServicios .Servicio .Contenido p {
  color: black;
  z-index: 2;
  position: relative;
}

img.BackGround {
  position: absolute;
  z-index: 0;
  top: -150px;
  right: -300px;
  opacity: 0.2;
}

img.BackGround2 {
  position: absolute;
  z-index: 0;
  top: -180px;
  left: -200px;
  opacity: 0.2;
}

@media screen and (max-width: 950px) {

  img.BackGround, img.BackGround2{display: none;}

  main.Servicios .BoxEncabezado {
    flex-direction: column;
    padding: 15px;
  }

  main.Servicios .BoxEncabezado .BoxIntro > p {
    font-size: 15px;
  }

  main.Servicios .BoxEncabezado .BoxIntro {
    width: 100%;
  }

  main.Servicios .BoxEncabezado .BoxVideo {
    width: 100%;
    height: auto;
    margin: 20px auto;
    background: none;
  }

  main.Servicios .BoxEncabezado .BoxVideo img {
    max-width: 100%;
  }

  main.Servicios .BoxServicios {
    padding: 15px;
  }

  .BoxServicios .Servicio {
    margin-top: 15px;
    flex-direction: column-reverse;
  }

  .BoxServicios .Servicio .Imagen {
    width: 100%;
    height: 250px;
    margin-top: 0 !important;
  }

  .BoxServicios .Servicio .Contenido {
    padding-right: 0;
    width: 100%;
  }

  .BoxServicios .Servicio .Contenido h2,
  p {
    text-align: left;
  }

  .BoxServicios .Servicio .ContPaddingLeft {
    padding-left: 0px;
  }

  .BoxServicios .Servicio .Contenido p {
    text-align: left;
  }
}
