main.Unete {
  background-color: white;
}

main.Unete .BoxDivisor {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
}

main.Unete .BoxDivisor .left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
}

main.Unete .BoxDivisor .right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  clip-path: polygon(0% 0, 100% 100%, 0 100%);
}

main.Unete .BoxCabecera {
  background-color: #eeeeee;
  overflow: hidden;

  padding: 25px;
}

main.Unete .BoxCabecera .Contenido {
  display: flex;
  width: 100%;
  max-width: 1330px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

main.Unete .BoxCabecera .Contenido .Text {
  width: 50%;
}
main.Unete .BoxCabecera .Contenido .Img {
  width: 50%;
  display: flex;
  justify-content: center;
}

main.Unete .BoxCabecera .Contenido .Text h1 {
  text-align: left;
}
main.Unete .BoxCabecera .Contenido .Text p {
  color: black;
  text-align: left;
  font-size: 20px;
}

main.Unete .BoxCabecera .Contenido .Img img {
  width: 100%;
  max-width: 550px;
}

main.Unete .BoxFormulario {
  width: 100%;
  max-width: 1330px;
  padding: 25px;
  margin: auto;
}

main.Unete .BoxFormulario .CardSeleccionForm {
  margin-bottom: 100px;
}

main.Unete .BoxFormulario p,
main.Unete .BoxFormulario h2 {
  color: black;
  text-align: left;
}

main.Unete .BoxFormulario .CardSeleccionForm .MenuSeleccion {
  display: flex;
  justify-content: space-around;
  border-radius: 4px;
  box-shadow: 1px 1px 4px var(--gris-oscuro);
  background-color: var(--color-primario);
  padding: 10px;
  margin-top: 20px;
}

main.Unete .BoxFormulario .CardSeleccionForm .MenuSeleccion h3 {
  cursor: pointer;
  color: white;
}

main.Unete .BoxFormulario .CardSeleccionForm .MenuSeleccion h3:hover {
  color: var(--azul-celeste);
}

main.Unete .BoxFormulario .ContactoAlternativo {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

main.Unete .BoxFormulario .ContactoAlternativo h3 {
  text-align: left;
}

main.Unete .BoxFormulario .ContactoAlternativo .Medios {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

main.Unete .BoxFormulario .ContactoAlternativo .Medios > div {
  box-shadow: 1px 1px 5px var(--gris-oscuro);
  border-radius: 4px;
  width: 90%;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--color-primario);
  justify-content: center;
  opacity: 1;
  transform: scale(1.05);
  transition: 0.5s;
  margin: 7px;
  z-index: 2;
}

main.Unete .BoxFormulario .ContactoAlternativo .Medios > :not(:hover) {
  opacity: 0.9;
  transform: scale(1);
  z-index: 1;
}

main.Unete .BoxFormulario .ContactoAlternativo .Medios > div img {
  margin-right: 10px;
  width: 100%;
  max-width: 50px;
  height: auto;
  display: inline-block;
  animation: pulse-rotate 4s ease-in-out infinite;
}

main.Unete .BoxFormulario .ContactoAlternativo .Medios > div h5 {
  color: white;
}

main.Unete .BoxFormulario .ContactoAlternativo .Medios > div h5 a {
  padding: 20px;
}

@media (max-width: 800px) {
  main.Unete .BoxCabecera .Contenido {
    flex-direction: column-reverse;
    align-items: center;
  }
  main.Unete .BoxCabecera .Contenido .Text > p,
  main.Unete .BoxCabecera .Contenido .Text > h1 {
    font-size: 15px;
    text-align: center;
  }

  main.Unete .BoxFormulario .ContactoAlternativo h3 {
    font-size: 15px;
    text-align: center;
  }

  main.Unete .BoxFormulario .CardSeleccionForm .MenuSeleccion h3 {
    font-size: 15px;
  }

  main.Unete .BoxCabecera .Contenido .Text,
  main.Unete .BoxCabecera .Contenido .Img {
    width: 100%;
  }

  main.Unete .BoxCabecera .Contenido .Img img {
    max-width: 400px;
  }

  main.Unete .BoxFormulario {
    padding: 10px;
  }

  main.Unete .BoxFormulario .FormContact {
    padding: 8px;
  }

  main.Unete .BoxFormulario p,
  main.Unete .BoxFormulario h2 {
    text-align: center;
  }

  main.Unete .BoxFormulario .ContactoAlternativo .Medios {
    flex-direction: column;
  }
}
